body {
    background-color: 		#000000;
}

#board
{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 750px;
    height: 750px;
    justify-content:flex-start;
    /* visibility: hidden; */
    background-color: 	#505050
}

#game
{
  display: flex;
}

#nukeBar
{
  width: 0;
  height: 50;
  background-color: #00ff00;
}

#bossBar
{
  width: 0;
  height: 50;
  background-color: #ff0000;
}

/* Use the . because square is a class */
  .square {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;

    }

    #scoreboard{
      color: white;
      font-family: "Arial Black", Gadget, sans-serif;
      font-size: medium;
    }

    #GameOverMessage{
      color: white;
      font-family: "Arial Black", Gadget, sans-serif;
      font-size: large;
    }
